/* Properties which are inherited by the child element*/
/* body {
  font-size: large;
  color: red;
}

/* Properties which are not inherited by the child element */
/* as we can see border style is not inhereted by default */
/* body {
  border: 2px;
} */

/* This is updated css file */

body {
  background-color:white;
  color: black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}

.intro {
  font-style: bold;

}

#para1 {
  background-color: yellow;
}

/* body css is inhereted in p element also */